.App {
  text-align: center;
}
body {
  background-color: #1a2236;
  color: white;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rateHead {
  text-decoration: bold;
  font-weight: bold;
}

.ratesList {
  background-color: lightgray;
}
.ratesListItem {
  list-style-type: none;
}

@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

.cont {
  width: 200px;
}

.cont > .dropdown {
  vertical-align: top;
  border-radius: 5px;
}

.dropdown:before,
.dropdown:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 38px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(
    0,
    0,
    0,
    0
  ) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: white;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #202a43;
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}

.dropdown-dark .dropdown-select {
  color: white;
  text-shadow: 0 1px black;
}

.dropdown-dark .dropdown-select:focus {
  color: aliceblue;
}

.dropdown-dark .dropdown-select > option {
  background: #1f2d43;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.selector {
  background-color: #293755af;
  border: 8px solid #202a43;
  padding: 4px;
}

.rateDisplay {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 8px;
  border-bottom: 2px solid #24304b;
  border-radius: 3px;
}
.rateDisplay:hover {
  background-image: linear-gradient(
    transparent,
    transparent,
    transparent,
    #366fa563
  );
  border-bottom: 2px solid #3670a5;
}
.rateDisplay small {
  font-size: 11px;
}
#liveRates {
  background-color: #273656;
}

.header {
  font-size: 25px;
  margin: 5px;
  padding: 5px;
}

#ratesDisplay small {
  font-size: 12px;
}

.historical-header {
  font-size: 15px;
  border-top: 5px solid #2b3f5e;
  border-bottom: 5px solid #2b3f5e;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  background-color: #2b3f5e;
}
::-webkit-calendar-picker-indicator {
  background: transparent;
  padding: 0px;
  margin: 0px;
}
#dropdownMenuButton {
  background-color: transparent;
  border: 0px;
}

.dropdown-menu {
  height: 150px;
  overflow-y: scroll;
  background-color: #45638f;
  font-size: 15px;
}

.dropdown-item {
  color: white;
}
.form-control1 {
  background-color: transparent;
  width: 105px;
  display: inline;
  color: white;
  border: 0px;
  height: 28px;
  font-size: 12px;
  padding: 0px;
}
.form-control1:focus {
  background-color: transparent;
  color: white;
}

.example3 {
  height: 57px;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
}
.example3 .news-scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid transparent;
  color: white;
  transform: translateY(100%);
  animation: example3 linear infinite;
  animation-duration: 30s;
}
.example3 .news-item {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
.example3 .news-info {
  font-size: 10px;
  color: #17a2b8;
  font-weight: bold;
}
.example3 a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.example3 a:hover {
  text-decoration: none;
}
/* Move it (define the animation) */
.example3 .news-scroll:hover {
  animation-play-state: paused;
}
.example3 .news-scroll:hover #link {
  fill: rgb(0, 183, 255);
}
/* .example3 .news-item:hover {
  background-image: linear-gradient(to right, #49aef24f, transparent);
} */
@keyframes example3 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-1100%);
  }
}
.histratesTable {
  text-align: right;
  height: 200px;
  overflow-y: hidden;
}
.histratesTable table {
  width: 90%;
}
.histratesHeader {
  color: rgba(139, 171, 219, 0.932);
  padding: 2px;

  font-size: 15px;
  margin: 2px;
}
.histratesHeader td {
  margin: 2px;
}

.ratesTable {
  font-size: 12px;
  text-align: right;
  height: 200px;
  overflow-y: hidden;
}
.ratesTable table {
  width: 100%;
}
.ratesHeader {
  color: #0069d9;
  padding: 2px;
  margin: 2px;
}
.ratesHeader td {
  margin: 2px;
}
.ratesItem {
  color: #0075f3;
  font-size: 11px;
  padding: 2px;
  margin: 2px;
}
.ratesItem td {
  margin: 2px;
  padding: 4px;
}
.ratesDate {
  color: rgba(255, 255, 255, 0.678);
}
.rateQuote {
  font-weight: bold;
}

.ratesButton {
  display: block;
}

.form-control {
  background: transparent;
  color: white;
}
