<html>
    <head>
        <body>
            <form name="regForm" action="http://localhost:5000/register" method="POST">
                <input type="text" name="name" placeholder="name"><br>
                <input type="email" name="email" placeholder="email"><br>
                <input type="text" name="fx_name" placeholder="FX name"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="password" name="confirm_password" placeholder="confirm password"><br>
                <input type="submit" value="Register">
            </form>
        </body>
    </head>
</html>